@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: auto;
    
}

#nav-menu{
    background-color: #024c8a;
    padding-left: 15%;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
}
#nav-menu ul{
    list-style: none;
    display: flex;
    text-align: right;
    gap: 15px;
}
#nav-menu ul li{
    margin: 20px 50px 0px -20px;
    text-align: right;
}
#nav-menu a{
    text-decoration: none;
    display: flex;
    color: #ffffff;
    font-size: 18px;
    padding: 3px;
}
#nav-menu a:hover{
    background-color: #ffffff;
    color:#0a0101;
    border-radius: 5px;
    transition: 0.3s;
}

.presentacion p{
    text-align: justify;
    font-family: "Lato", sans-serif;
    margin: 10px 20px 0 700px;
    padding: 0 50px 0 0;
    
}
.presentacion h2{
    text-align: left;
    display: inline-block;
    margin: 100px 0 0  140px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}
.presentacion h4{
    text-align: left;
    margin: 10px 280px;
    font-family: "Roboto", sans-serif;
}
.presentacion h3{
    text-align: left;
    margin: -10px 100px 0px 700px;
    color: #ff3c00;
    font-size: 20px;
}


#Foto-perfil{
    margin-top: -75px;
    margin-left: -8px;
    width: 265px;
    border-radius: 300px;
    
}

h2{
    
    text-align: center;
    margin: 20px;
    font-size: 36px;
    color: rgb(91, 67, 155);
    font-family: "Roboto", sans-serif;
}
.frase{
    margin: 20px;
    text-align: center;
}
.img{    
        display: flex;
        margin-left:220px;
        margin-top: -75px;
        height: 250px;
        width: 250px;
        background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        border-radius: 60%;
}
main{
    overflow: hidden;
}
#proyectos{
    border-top: solid 2px #dddddd;
    margin: 50px;
}
#lista-proyectos{
    display: flex;   
}
.proyecto{
    width: 25%;
    text-align: center;
}
#proyectos img{
    width: 90%;
    border-radius: 20px;
}
#proyectos p{
    padding: 10px 20px;
    color: #024c8a;
    font-family:"Lato", sans-serif;
    font-weight: 500;
}
#proyectos h3{
    color:rgb(2, 87, 7);
    font-size: 25px;
}
#habilidades{
    overflow: hidden;
    margin:20px;
    padding: 20px;
    border-top: solid 2px #dddddd;
}
#habilidades h3{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin: 50px 0;
    background-color: #58f;
    border-radius: 5px;
    padding: 12px;
}
#habilidades li img{
    
    width:  100px;
    height: 100px;
}

progress{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    margin: 10px 0;
}
.lista-tecnologias{
    list-style: none;
    display: flex;
    margin: 30px;
    
}
.lista-tecnologias li{
    color: #0a0101;
    padding: 12px 20px;
    border-radius: 12px;
    text-align: center;
}
.lista-tecnologias li img{
    transition: transform 0.3s ease; 
}
.lista-tecnologias li img:hover{
    transform: scale(1.2);
    
}
progress::-moz-progress-bar{
    background-color: #0af;
    background-size: 40px 40px;
}
label{
    font-family: "Lato", sans-serif;
}

.contactame{
    display: flex;
    margin: 20px;
    gap: 15px;
}
#contacto{
    padding: 40px;
    background-color: #58f;
}
.campos{
    width: 70%;
    clear: both;
    font-size: 20px;
    margin-top: 20px;
    display: grid;
}

.campos input{
    color: #ffffff;
    padding: 5px;
    border: #ffffff;
    border-bottom:solid 1px #ffffff;
    width: 97%;
    border-radius: 5px;
    margin: 10px 0;
    background-color: transparent;
    font-size: 14px;
}
.campos input:focus{
    outline: none;
}
button{
    font-size: 15px;
}
#area
{   margin:20px 0;
    width: auto;
    height: 200px;
    resize: none;
    background-color: #58f;
    border: none;
    border: solid 2px #ffffff;
    font-size: 14px;
    color: #ffffff;
}
#area:focus{
    outline: none;
}
i {
    font-size: 50px; 
    color: #0a66c2;

}
a i{
    margin-top: 30px;
}
.redes{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color:chocolate;
    margin: 50px 250px;
    text-align: center;
}


footer{
overflow: hidden;
padding: 25px 0;
background-color: #ff3c00;
color: #ffffff;
border-top:solid 2px #0a0101;
font-size: 18px;
}

